.navbar {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
    gap: 1.5rem;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__logo {
    flex-shrink: 0;
  }

  &__search {
    flex: 1 1 auto;
    max-width: 600px;
    margin-left: 2rem;

    @media (max-width: 1024px) {
      margin-left: 0;
      width: 100%;
    }

    .search__group {
      display: flex;
      width: 100%;

      input {
        flex: 1;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        border: 2px solid #d1d5db;
        background-color: #f0f2f5;
        border-radius: 0.5rem 0 0 0.5rem;
        outline: none;

        &:focus {
          border-color: #14b8a6;
        }
      }

      button {
        background-color: #2dd4bf;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0.5rem 0.5rem 0;
        cursor: pointer;
        border: none;

        &:hover {
          background-color: #059669;
        }

        .search__icon {
          color: white;
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }

  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    flex-shrink: 0;


    .navbar__doc {
      text-decoration: underline;

    }


    .navbar__profile {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;

      .img {
        border-radius: 9999px;
        object-fit: cover;
        width: 40px;
        height: 40px;

        @media (min-width: 768px) {
          width: 48px;
          height: 48px;
        }
      }

      .dropdown__icon {
        width: 1rem;
        height: 1rem;
        color: #4b5563;
      }
    }

    @media (max-width: 1024px) {
      width: 100%;
      justify-content: space-between;
      margin-top: 0.5rem;
      gap: 1.25rem;
    }

    @media (max-width: 775px) {
      width: 90%;
    }

  }
}